        </div>
    <div class="footer">
        <div class="row">
            <div class="col-11" style="padding-top: 5px;">
                © 2021 code. All Rights Reserved
            </div>
            <div class="col-1">
                <center>
                <a href="https://www.facebook.com/code.freshapparel" target="_blank"><img src="./images/icons/facebook.png" style="width: 25px;" alt=""></a> &nbsp; <a href="https://www.instagram.com/code.freshapparel/" target="_blank"><img src="./images/icons/instagram.png" style="width: 25px;" alt=""></a>
                </center>
            </div>
        </div>
    </div>
</div>