<form class="example col-sm-12 mb-4 p-0 mx-0" action="/">
    <div class="p-0
        col-sm-10 col-lg-8 col-xl-6 col-xxl-5
        offset-sm-1 offset-lg-2 offset-xl-3 offset-xxl-4">
            
            <div class="row px-0 m-0 input-group">
                <input type="text" placeholder="Brands like Code, Highkey, TigerHoods, HoneyCo...." name="search" 
                        class="float-left rounded-start col bg-white">
                <div class="input-group-append">
                <button class="border-end btn btn-info col px-5" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
    </div>
    <div class=" bt-3 pt-2 pb-4">
        <div class="bg-white offset-1 col-10 rounded border shadow-sm p-4 mb-4">
            <div class="col-12">
                <div class="input-group input-group-lg mb-3 px-4">
                    <div class= "input-group-prepend btn-group-toggle" data-toggle="buttons">
                        <button type="button" id="minPrice" class="btn btn-light border" data-bs-toggle="button" value="Shoes">
                            <input type="checkbox" cname="minPrice" autocomplete="off"> <span class=" font-weight-bold"> PHP</span>
                        </button>
                        <span class="input-group-text" id="inputGroup-sizing-sm">Min Price</span>
                    </div>
                    <input type="number" class="input-group form-control" min="1" max="9990" step ="0.25" value ="1">
                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Max Price</span>
                    </div>
                    <input type="number" class="input-group form-control" min="10" max="10000" step ="0.25" value ="10000">
                </div>
            </div>   
            <div class="btn-group btn-group-toggle col" role="group" aria-label="Basic example" data-toggle="buttons">
                <button type="button" class="btn btn-light border active" data-bs-toggle="button" value="Shirts">
                    <input type="checkbox" cname="Shirts" id="option1" autocomplete="off" checked> Shirts
                </button>
                <button type="button" class="btn btn-light border active" data-bs-toggle="button" value="Hoodies">
                    <input type="checkbox" cname="Hoodies" id="option2" autocomplete="off" checked> Hoodies
                </button>
                <button type="button" class="btn btn-light border active" data-bs-toggle="button" value="Shorts">
                    <input type="checkbox" cname="Shorts" id="option3" autocomplete="off" checked> Shorts
                </button>
                <button type="button" class="btn btn-light border active" data-bs-toggle="button" value="Shoes">
                    <input type="checkbox" cname="Shoes" id="option4" autocomplete="off" checked> Shoes
                </button>
            </div>
        </div>
    </div>
</form>