<%- include('./partials/head'); %>


<div class="row">
    <div class="col-sm-4">
        <a href="">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="/images/product2.png" alt="Card image cap">
                <h5 class="card-title">HOODIES</h5>
                <hr>
                <span>ICONIC</span>
                <h5 class="card-title">PHP 1500.00</h5>
            </div>
        </div>
    </a>
    </div>
    <div class="col-sm-4">
        <a href="">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="/images/product2.png" alt="Card image cap">
                <h5 class="card-title">HOODIES</h5>
                <hr>
                <span>ICONIC</span>
                <h5 class="card-title">PHP 1500.00</h5>
            </div>
        </div>
    </a>
    </div>
    <div class="col-sm-4">
        <a href="">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="/images/product2.png" alt="Card image cap">
                <h5 class="card-title">HOODIES</h5>
                <hr>
                <span>ICONIC</span>
                <h5 class="card-title">PHP 1500.00</h5>
            </div>
        </div>
    </a>
    </div>
</div>

<%- include('./partials/footer'); %>