<%- include('./partials/head'); %>

        <div class="row">
            <div class="col offset-3">
                <div class="card border-primary mb-3" style="max-width: 45rem;">
                    <h4 class="card-header card-title">SIGN UP</h4>
                    <div class="card-body">
                        <%  if(typeof(err) != 'undefined'){ %>
                            <div class="alert alert-dismissible alert-primary">
                              <i class="fa fa-exclamation-circle"></i> <%= err %>
                            </div>
                          <% }%>
                        <form action="/register" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" name="firstName" class="form-control"  placeholder="First Name" required>
                                </div><br>
                                <div class="form-group">
                                    <input type="text" name="lastName" class="form-control"  placeholder="Last Name" required>
                                </div><br>
                                <div class="form-group">
                                    <input type="text" name="address" class="form-control"  placeholder="Address" required>
                                </div><br>
                                <div class="form-group">
                                    <input type="text" name="phoneNumber" class="form-control"  placeholder="Phone Number" required>
                                </div><br>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div><br>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control"  placeholder="Password" required>
                                </div><br>
                                <div class="form-group">
                                    <input type="password" name="confPassword" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" required>
                                </div>
                            </fieldset><br>
                            <center>
                            <button type="submit" class="btn btn-primary">Submit</button><br><br>
                            <small class="form-text">Already have an Account? <a href="/login" style="color:black;"> Sign In</a></small>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <%- include('./partials/footer'); %>
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>