<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Code</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="./images/logo/CodeLogo.png" style="margin-left: 17px;" width = "125px" alt="">
            </div>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Shirts</a>
                              <a class="dropdown-item" href="#">Hoodies</a>
                            </div>
                          </div>
                      </li>
                    <li><a href="">About</a></li>
                    <li style="margin-right: 450px"><a href="">Contact</a></li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="./images/icons/user.png" width="26px" alt=""></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Login</a>
                            </div>
                          </div>
                      </li>
                    <li><a href="/cart"><img src="./images/icons/cart.png" width="26px" alt=""></a></li>
                </ul>
            </nav>
        </div><br>
        <div class="row">
            <div class="col offset-3">
                <div class="card border-primary mb-3" style="max-width: 45rem;">
                    <h4 class="card-header card-title">CART</h4>
                    <div class="card-body">
                        <br><br><br><br><br><br><br><br><br><br><br><br>
                        <center>
                        <a href="/checkout" type="button" class="btn btn-primary btn-sm">CHECKOUT</a>
                        </center>
                        <br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-11" style="padding-top: 5px;">
                    © 2021 code. All Rights Reserved
                </div>
                <div class="col-1">
                    <center>
                    <a href="https://www.facebook.com/code.freshapparel" target="_blank"><img src="./images/icons/facebook.png" style="width: 25px;" alt=""></a> &nbsp; <a href="https://www.instagram.com/code.freshapparel/" target="_blank"><img src="./images/icons/instagram.png" style="width: 25px;" alt=""></a>
                    </center>
                </div>
            </div>
        </div>
    </div>
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>