<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Code</title>
</head> -->
<%- include('./partials/head'); %>
  
        <div class="row">
            <div class="col offset-4">
                <div class="card border-primary mb-3" style="max-width: 30rem;">
                    <h4 class="card-header card-title">SIGN IN</h4>
                    <div class="card-body">
                        <% if(messages.error){ %>
                            <div class="alert alert-dismissible alert-primary">
                              <i class="fa fa-exclamation-circle"></i> <%= messages.error %>
                            </div>
                        <% }%>
                        <%  if(typeof(completed) != 'undefined'){ %>
                            <div class="alert alert-dismissible alert-primary">
                              <i class="fa fa-check-circle"></i> <%= completed %>
                            </div>
                          <% }%>
                        <form action="/login" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                                </div><br>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control"  placeholder="Password" required>
                                </div><br>
                            </fieldset><br>
                            <center>
                            <button type="submit" class="btn btn-primary">Submit</button><br><br>
                            <small class="form-text">New Account Yet? <a href="/register" style="color:black;"> Sign Up</a></small>
                            </center>    
                        </form>
                    </div>
                </div>
            </div>
        </div>
       
        <%- include('./partials/footer'); %>
    
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>