<%- include('./partials/head'); %>
        <div class="row">
            <div class="col offset-3">
                <div class="card border-primary mb-3" style="max-width: 45rem;">
                    <h4 class="card-header card-title">CART</h4>
                    <div class="card-body">
                        <br><br><br><br><br><br><br><br><br><br><br><br>
                        <center>
                        <a href="/checkout" type="button" class="btn btn-primary btn-sm">CHECKOUT</a>
                        </center>
                        <br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    <%- include('./partials/footer'); %>
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>