*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
    font-weight: 100;
}

body{
    background-color: rgb(122, 144, 161);
    display: flex;
    flex-direction: column;
}

.nav{
    color:white;
    font-size:18px;
    cursor: pointer;
}
.nav:hover{
  color:white;
  opacity: 0.45;
  text-decoration: none;
}

a{
    text-decoration: none;
    color:white;
}

.card{
    padding: 10px
}

.container{
    background-color: white;
    padding: 0;
}

.footer{
    margin-top: 300px;
    background-color: black;
    color: white;
    padding: 15px;
    bottom: 0;
    width: auto;
}


/* The side navigation menu */
.sidebar {
  
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    
    
  
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

.bg-black{
  background: #000;
}

/*FILTER*/

.filter-content {
  margin: 100px 0 200px 0;
  padding: 0 !important;
  background-color: #fbf6f3;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.filter-content hr {
  margin: 0;
  padding: 0;
}

.vertical-hr {
  width: 1px !important;
  margin: 0 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.filter-container {
  margin: 0 12px !important;
}

.filter-container a {
  text-decoration: none;
  color: #5d6c89;
}

/* SIDE-FILTER */

#filter-list {
  transition: all 0.3s ease-in-out;
}

#filter-list hr {
  width: 90%;
  margin: 0 auto;
}

.side-filter-title p {
  margin: auto 0;
  font-size: 15px;
}

.side-filter-content {
  padding: 0 20px;
  margin: 0;
  transition: all 0.3s ease-in-out !important;
}

/* FILTER TOGGLE ICON */
.filter-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.filter-icon-menu {
  width: 18px;
  height: 2px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.filter-icon-menu::before,
.filter-icon-menu::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

/* ANIMATION */

.filter-icon.open-filter .filter-icon-menu {
  transform: rotate(180deg);
}

.filter-icon.open-filter .filter-icon-menu::before {
  transform: rotate(90deg);
}

.side {
  transition: all 0.3s ease-in-out;
}

@keyframes zoomload {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

.side-filter-content .choices {
  background-color: #e6e6e6;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  padding: 0;
}

.car-type-filter {
  margin: 25px 0 !important;
  padding: 0 5px;
}

.choices-content {
  margin: 10px 0;
}

.filter-title,
.filter-buttons {
  display: inline-block;
  margin: 2vw;
  margin: 3px 0;
  padding: 20px;
}

.side-filter-title {
  margin: 2vw;
  margin: 3px 0;
  padding: 17px;
}

.filter-buttons {
  margin: auto 0;
}

.filter-box {
  margin: 0;
  padding: 0px 0;
}

.filter-box h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.filter-buttons .bi {
  transition: all 0.3s ease-in-out;
  font-size: 17px;
}

.filter-buttons .bi.active {
  color: #5d6c89;
}

.filter-buttons .bi:hover {
  color: #5d6c89;
}

.car-img img {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 30px;
}

.car-info h5 {
  font-size: 18px;
  font-weight: 550;
  color: #5d6c89;
}

.price-perday {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 600;
}
.price-perday p {
  margin: 0;
  padding: 0;
}

.hide-hr {
  display: none;
}

/**************************
VIEW CAR DETAILS STYLES
***************************/

.gallery_img img {
  background-size: contain;
  min-height: 328.5px;
  height: 65vh;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding: 0;
  transition: 0.3s ease-in-out;
}

.side_bar_gallery img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 15vh;
  margin: 0 0 30px 0;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.gallery_img img:hover,
.side_bar_gallery img:hover {
  opacity: 0.7;
}

.side_bar_img,
.gallery_img {
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.detail_row h5 {
  text-transform: uppercase;
  font-size: 0.9375rem;
  font-weight: bold;
  color: #3b3b3b;
}

.detail_row ul {
  margin: 0;
  padding: 0;
}

.detail_row ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}

.detail_row label {
  font-size: 15px;
  color: #3b3b3b;
}

#prev {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 3px solid rgba(0, 0, 0, 0.2);
}
