*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
    font-weight: 100;
}

body{
    background-color: rgb(122, 144, 161);
    display: flex;
    flex-direction: column;
}

.nav{
    color:white;
    font-size:18px;
    cursor: pointer;
}
.nav:hover{
  color:white;
  opacity: 0.45;
  text-decoration: none;
}

a{
    text-decoration: none;
    color:white;
}

.card{
    padding: 10px
}

.container{
    background-color: white;
    padding: 0;
}

.footer{
    margin-top: 300px;
    background-color: black;
    color: white;
    padding: 15px;
    bottom: 0;
    width: auto;
}


/* The side navigation menu */
.sidebar {
  
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    
    
  
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

.bg-black{
  background: #000;
}

/*Filter*/